        /* Header */
nav{
    width: 230px;
}

.navigation{
    font-size: 100%;
}

        /* Search Form */
#searchtitle{
    font-size: 100%;
}

#searchquote{
    font-size: 75%;
}

#searchformitems{
    width: 300px;
}

#searchbar{
    font-size: 90%;
}

#searchsubmit{
    font-size: 90%;
}

        /* Filters Bar */
#filtersblock{
    margin-top: 15px;
}

#filterslist{
    flex-wrap: wrap;
}

.filterslistitem{
    font-size: 90%;
    margin-top: 10px;
}

#filterstitle{
    margin-right: 100%;
}

        /* Search result */
#searchresult{
    font-size: 70%;
}

            /* Accomodations block */
#accomodationsblock{
    flex-wrap: wrap-reverse;
    gap: 20px 20px;
}

        /* Classic accomodations block */
#classicaccomodations{
    width: 100%;
    
}

        /* Popular accomodations block */
#popularaccomodations{
    width: 800px;
}

                /* Activities Block */
#activitiesblock{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
        /* First Activities Block */
#firstactivitiesblock{
    width: 100%;
    margin-bottom: 20px;
}   

                /* Second Activities Block */
#secondactivitiesblock{
    width: 100%;
    margin-top: 20px;
}

        /* Footer block */
#footerblock{
    gap: 50px 15%;
}
