        /* Header */
nav{
    width: 230px;
}

.navigation{
    font-size: 100%;
}

        /* Search Form */
#searchtitle{
    font-size: 100%;
}

#searchquote{
    font-size: 75%;
}

#searchformitems{
    width: 300px;
}

#searchbar{
    font-size: 90%;
}

#searchsubmit{
    font-size: 90%;
}

        /* Filters Bar */

#filtersblock {
    margin-top: 0%; 
}
#filterslist{
    flex-wrap: wrap;
}

.filterslistitem{
    font-size: 90%;
    margin-top: 10px;
}

#filterstitle{
    margin-right: 100%;
}

        /* Search result */
#searchresult{
    font-size: 70%;
}

            /* Accomodations block */
#accomodationsblock{
    width: 100%;
    flex-wrap: wrap-reverse;   
    height: auto;
    margin-bottom: 6%;
}

                /* Classic accomodations block */
#classicaccomodations{
    width: 100%;
    height: 700px;
    gap: 3% 3%;
}

        /* Classic Accomodations Cards */
.classicaccomodationscards{
    width: 45%;
    height: 25%;  
} 

#classicaccomodationslink {
    margin-top: 1%;
}

                /* Popular accomodations block */
#popularaccomodations{
    width: 100%;
    height: 350px;
    margin-bottom: 6%;
}

        /* Popular Accomodations Cards */
.popularaccomodationscards{  
    width: 40%;
    height: 35%;     
}

                /* Activities Block */
#activitiesblock{
    margin-bottom: 6%;
    height: auto;
}
        /* First Activities Block */
#firstactivitiesblock{
    width: 100%;
    margin-bottom: 20px;
    height: 450px;
}   

                /* Second Activities Block */
#secondactivitiesblock{
    width: 100%;
    margin-top: 20px;
    height: 450px;
}

        /* Footer block */
#footerblock{
    gap: 50px 13%;
}
